<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- 타임리프 명시적 선언 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h3>반복문</h3>
	[[${list}]]
	
	<ul>
		<li th:each="vo : ${list}">
			[[${vo.name}]]
			[[${vo.age}]]
		</li>
	</ul>
	
	<hr/>
	<h3>반복문과 state변수(jstl = varState)</h3>
	
	<!-- each에 두번째 변수를 선언하면 상태값을 담아준다.
		index, count, size, current 등... -->
	<ul>
		<li th:each="vo, a : ${list}">
			[[${a.count}]]번 - [[${vo.name}]]
		</li>
	</ul>
	
	<h3>반복문과 조건문</h3>
	
	<ul>
		<li th:each="vo : ${list}" th:if="${vo.age % 2 == 0}">
			[[${vo.age + '는 짝수'}]]
		</li>
	</ul>
	
	<h3>반복문과 조건문2</h3>
	<ul>
		<li th:each = "vo : ${list}">
			<span th:if="${vo.age % 2 == 0}">짝수</span>
			<span th:unless="${vo.age % 2 == 0}">홀수</span>
		</li>
	</ul>

</body>
</html>