<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- 타임리프 명시적 선언 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h3>타임리프 block문</h3>
	[[${list}]]
	
	<hr/>
	
	<!-- block은 별도의 태그를 사용하지 않고, 마치 중괄호 처럼 사용하고 싶을 때 적용 -->
	<ul>	
		<th:block th:each="vo : ${list}">
		<li>[[${vo}]]</li>
		</th:block>
	</ul>
	
	<hr/>
	<h3>타임리프 a태그</h3>
	
	<a href="test">일반 a태그</a>
	<a th:href="@{test}">타임리프 a태그</a>
	
	
	<!-- 
	a링크로 값을 넘기는 방법
	1. 경로 (키=값, 키=값)
	2. 경로 / 변수 / 변수 (변수=값, 변수=값)
	 -->
	<ul>
		<li th:each="vo : ${list}">
			<a th:href="@{test(age=${vo.age}, name=${vo.name} )}">키값 넘기기(쿼리 스트링)</a>
			<a th:href="@{test2/{age}/{name} (age=${vo.age}, name=${vo.name})}">키값 넘기기(쿼리 파라미터)</a>
		</li>
	</ul>

</body>
</html>








