<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/include/layout03 :: 함수( ~{:: .wrap} ) }">
	
	<h3>이 화면에 진입할 때 SimpleVO를 이용하여 데이터를 출력 합니다. (값은 아무거나)</h3>
	<p>
		회원정보확인 링크에는 quiz_result01?키=값 형태로
		회원번호, 이름, 아이디 을 넘겨주세요
		
		아래 class="wrap" 부분만 layout03 템플릿에 전달 될 수 있도록 처리하세요
	</p>
		
	
	<div class="wrap">
		회원번호: [[${vo.num}]]<br/>
		이름: [[${vo.name}]]<br/>
		아이디: [[${vo.id}]]<br/>
		<br/>
		<a th:href="@{quiz_result01(num=${vo.num}, name=${vo.name}, id=${vo.id}) }">회원정보확인</a>
	</div>
</th:block>
